* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "bloodyShohid";
  src: url("../font/bloody.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bloodyFont {
  font-family: "bloodyShohid";
}
.card-custom {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}
.card-header-custom {
  background-color: #f5c6cb;
  color: #721c24;
}
.show-password {
  cursor: pointer;
  position: absolute;
  right: 25px;
  margin-top: 32px;
}
